<div class="grey">
  <div class="row">
    <div class="col-xs-6">
      Participa en los comentarios
    </div>
    <div class="col-xs-6">
      <%= @article.comments.count %> comentario(s)
    </div>
  </div>
  <div>
    <%= render "comments/form" %>
  </div>
  <div class="top-space">
    <%= render @article.comments %>
  </div>
</div>
