html,body{
  margin:0px;
  font-family: 'Montserrat', sans-serif;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
ul{
  list-style-type: none;
}
a, a:visited{
  color:inherit !important;
  text-decoration: none;
}
#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}
.be-red{
  background-color: #E74C3C;
}
.white{
    color: #ECF0F1;
}
.large-padding{
  padding: 10px 7px;
}
.field{
  margin-top: 1em;
}
.top-space{
  margin-top: 1em;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
