<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= @article.title %></h1>
    <p>
      <%= truncate(@article.body, length: 30) %>
    </p>
    <p>
      <%= link_to "Leer más", article_url(@article) %>
    </ p>
  </body>
</html>
